<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Running technique</title>
    <link rel="stylesheet" href="/styles/float.css">
</head>
<body>


    <div class="continer">

        <header>
            <h1>What I Do Best</h1>
        </header>

        <main class="clearfix main">

            <h2>Skills</h2>

            <div>

                <div class="media">
                    <img class="media-image" src="/images/coding.png" alt="Web development">
                    
                    <div class="media-body">
                        <h4>Web Development</h4>
                        <p>I create intuitive, interactive, simple, dynamic website's. I turn dreams into reality. Super convasant with both frontend and backend development</p>
                    </div>
                </div>

                <div class="media">
                    <img class="media-image" src="/images/database-management.png" alt="Database Managment">
                    
                    <div class="media-body">
                        <h4>Database Managment</h4>
                        <p>For any dynamic website, there is a database behind the scenes helping users to access their need with ease. </p>
                    </div>
                </div>

                <div class="media">
                    <img class="media-image" src="/images/ecommerce.png" alt="Ecommerce development">
                    
                    <div class="media-body">
                        <h4>Ecommerce Development</h4>
                        <p>Ecommerce is like the heart of a fullstack developer. There is where the creative part of you is kept into a test. Developers and Solving problems. Just help out </p>
                    </div>
                </div>

                <div class="media">
                    <img class="media-image" src="/images/cyber-security.png" alt="Cyber Security">
                    
                    <div class="media-body">
                        <h4>Cyber Security</h4>
                        <p>Being a fullstack developer, I always feel like Security is part of me. I need to keep my website secure as possible.</p>
                    </div>
                </div>

            </div>
        </main>

        <footer>
            <h2>Web Developer &copy; Munyoki</h2>
        </footer>
    </div>
    
</body>
</html>