*
{
    margin: 0;
    padding: 0;
    border: 0;
}

:root
{
    font-size: 1rem;
}

.square1
{
    width: 100vw;
    height: 100vh;
    background-color: #999;
    display: grid;
    justify-content: center;
    align-items: center;
}

.square2
{
    /*background-color: #ccc;*/
    filter:drop-shadow(1);
    height: 50vmin;
    width: 50vmin;
    display: grid;
    justify-content: center;
    align-items: center;
    text-align: center;
    border-radius: 0.275rem;
}

.info
{
    font-size: 1.2rem;
}

h1
{
    color: rgb(187, 25, 25);
    margin-bottom: 5px;
    font-size: 1.5em;
}

p
{
    color: rgb(7, 7, 134);
    font-size: 1em;
}
