<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Re-usable code using the mighty grid</title>
    <link rel="stylesheet" href="/styles/defalts.css">
</head>
<body>

    <header>
        <h2>
            Mastery needs patience.
        </h2>
        <p>
            I know there is nothing like a perfect system. The whole idea of perfection is all a myth but how do you go to a war field without any tool say that total negotiation would figth with the bullets.
        </p>
    </header>
    
    <main class="main clearfix">
        <h2>Specials</h2>

        <div class="row">

            <div class="column-6">
                <div class="media">

                    <img src="/images/developer.png" alt="web development" class="media-image">

                    <div class="media-body">
                        <h4>Web Development</h4>
                        <p>Web development to me is a gem. You can do anything you want with the web only with the proper skill set. It feels like magic in some sort.</p>
                    </div>

                </div>
            </div>

            <div class="column-6">
                <div class="media">

                    <img src="/images/computer1.png" alt="computer networking" class="media-image">

                    <div class="media-body">
                        <h4>Computer Netwoorking</h4>
                        <p>Computer operate more so like the web, as in how they communicate to each other or how to send a file anonymously, or even how to keep this communications secure</p>
                    </div>

                </div>
            </div>

        </div>

        <div class="row">

            <div class="column-6">
                <div class="media">

                    <img src="/images/dynamic.png" alt="dynamic web development" class="media-image">

                    <div class="media-body">
                        <h4>Dynamic Web Development</h4>
                        <p>
                            Web development is not all about single pages that we tend to lair ourselves when we start developing some stuff. Web development is way broad and with turns of priviledges. You can flip it to whatever you imagine
                        </p>
                    </div>

                </div>
            </div>

            <div class="column-6">
                <div class="media">

                    <img src="/images/management.png" alt="Managment" class="media-image">

                    <div class="media-body">
                        <h4>Managment</h4>
                        <p>I have witnessed lots of people come and go. Management is essential to all that we, it part of who we are. You loss that, you loss the most common fundermental of life. Everthing we do needs lots of management, take those plans and stick to them. You will love it by the end. </p>
                    </div>

                </div>
            </div>

        </div>

    </main>

    <footer class="footer">
        <h2>Web Developer &copy; Munyoki</h2>
    </footer>
</body>
</html>