<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Grid and Float test</title>
    <link rel="stylesheet" href="/styles/test.css">
</head>
<body>

    <div class="container">
        <header>

            <nav>

                <ul class="nav">
                    <li><a href="#">Home</a></li>
                    <li><a href="#">About</a></li>
                    <li><a href="#">Service</a></li>
                    <li><a href="#">News</a></li>
                    <li><a href="#">Contact</a></li>
                </ul>

            </nav>

            <section>
                <img src="/images/logo1.png" alt="logo">
            </section>

        </header>

        <main>

            <div class="intro">
                <p>I am <b>Moses Munyoki Thomas</b> &mdash; <em>Web developer</em>.<br>
                The minute you get the taste of creating, it's so addictive. <br>Bringing your creativity is hard but if that's what you signed for, you just have to make it work. The fight is on, Pick your stand &lbrack; <b>Lui Tao</b> &rbrack;</p>
            </div>

            <div class="feeds">
                <!--<form action="#" method="post">
                    <input type="email" placeholder="Email">
                    <input type="text" placeholder="Title">
                    <textarea ></textarea>
                    <input type="submit" value="Submit">
                </form>-->
                <a href="/twitter" class="button-link">Follow me on twitter</a>
            <a href="/facbook" class="button-link">Like me on Facebook</a>
            </div>
        </main>

        <footer>
            <p>Web Developer &copy; <b>Munyoki</b></p>
        </footer>
        
    </div>
    
</body>
</html>