:root
{
    box-sizing: border-box;
    font-size: calc(1em + 0.5vw);
}

*,
*::before,
*::after
{
    box-sizing: inherit;
}

html
{
    overflow-x: hidden;
}

body
{
    font-family: 'Lucida Sans';
}